# =====================================================================
# VARIABLES DE ENTORNO - SISTEMA OPI (PRODUCCIÓN / DOCKPLOY / DOCKER)
# =====================================================================

# Base de Datos
DB_HOST=localhost
DB_NAME=db_municipal_opi
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# FirmaGob (Gobierno Digital)
FIRMAGOB_AMBIENTE=PRODUCCION
FIRMAGOB_API_URL=https://api.firma.digital.gob.cl/firma/v2/files/tickets
FIRMAGOB_ENTITY="Ilustre Municipalidad de Lebu"
FIRMAGOB_PURPOSE="Propósito General"
FIRMAGOB_MODO=ATENDIDA

# Credenciales de Gobierno Digital
FIRMAGOB_API_TOKEN_KEY=TU_TOKEN_KEY_AQUI
FIRMAGOB_SECRET=TU_SECRET_KEY_AQUI
