# Bloquear ejecución de scripts PHP y ejecutables dentro de la carpeta de cargas
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    Require all denied
</FilesMatch>

Options -ExecCGI -Indexes